@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:200);

*{
    margin:1px;
    padding:0;
}

#header {
    margin-top: 5px;
    width: 202px;
    height: 81px;
    background: url(../img/header.png) no-repeat;
}

#widgetTitle {
    width: 202px;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 20px;
    color: #3c7cba;
}

.itemTitle, .itemDate, .itemContent {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.itemTitle {
    font-size: 13px;
    color: #3c7cba;
}

a, a:visited {
    color:inherit;
    text-decoration:none;
    outline:none;
}

.itemDate {
    margin-top: 2px;
    font-size: 10px;
}

.itemContent {
    margin-top: 2px;
    font-size: 11px;
}

#widget {
    margin-top: 7px;
    width: 200px;
}

.divider{
    height:1px;
    overflow:hidden;
    border-bottom:1px solid #C9C9C9;
    margin:7px;
    opacity: 0.4;
}